.nav__container{
    color:var(--textColor);

    .nav__contact__details{
        display: flex;
        padding: 1rem 2rem;
        background-color: var(--secondaryColor);
        justify-content: flex-end;
        gap: 2rem;
        div{
            display: flex;
            align-items: center;
            gap: 1rem;
            cursor: pointer;

            p{
                font: normal 400 .8rem/.8rem Roboto;
            }
            @media screen and (width<600px) {
                display: none;
            }
        }
    }

    .nav__category{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 2rem 0rem;
        color: #999;

        .category__title{
            display: flex;
            gap: 1rem;
            align-items: center;
            cursor: pointer;
            padding: 0rem 4rem;
            white-space: nowrap;
            &:hover{
                .icon__up{
                   display: none;
                }
                .icon__down{
                    display: block!important;
                }
                .multi__title{
                    display: flex!important;
                }
            }
            .icon__down{
                display: none;
            }

            
            
        }
    }
}
