.productCarousel__container{
    .carousel__card{
        .product__card{
            width: 100vw;
            height: 55vh;
            img{
                width: 100%;
                height: 100%;
            }
            @media screen and (width<600px) {
                height: 20vh;
            }
        }
    }
}

.slick-next{
right: 0!important;
left: 96%!important;
z-index: 10;
@media screen and (width<600px) {
    left: 91%!important;
}
}
.slick-next:before{
    color: #e7c255!important;
    font-size: 40px!important;
    @media screen and (width<600px) {
    font-size: 30px!important;
}
}

.slick-prev{
right: 98%!important;
left: 1%!important;
z-index: 10;

}
.slick-prev:before{
    color: #e7c255!important;
    font-size: 40px!important;
    @media screen and (width<600px) {
        font-size: 30px!important;
    }
}
.slick-dots{
    bottom: 20px!important;
}
.slick-dots li button:before{
    font-size: 1rem!important;
    color: #e7c255!important;
}