@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --primaryColor: #285721;
  --secondaryColor:#1a3e15;
  --textColor:#ffffff;
  }

body{
  scroll-behavior: smooth;
  font-family: Roboto;
}